language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools;30.0.3

    # The SDK version used to compile your project
    - platforms;android-30

licenses:
  - android-sdk-license-.+

branches:
  only:
    - master

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script:
  - ./gradlew bintrayUpload