name: Build libs

on:
  push:
    branches: [ "develop" ]
  workflow_dispatch:

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Check build
      run: ./gradlew :vbpd-core:assembleRelease :vbpd:assembleRelease :vbpd-reflection:assembleRelease --no-configuration-cache --no-build-cache
      continue-on-error: true
    
    - name: Save Gradle cache
      uses: actions/cache@v5
      continue-on-error: true
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Save build artifacts
      uses: actions/upload-artifact@v6
      with:
        name: vbpd-libs-builds
        path: 
          vbpd/build/outputs/aar/vbpd-release.aar
          vbpd-core/build/outputs/aar/vbpd-core-release.aar
          vbpd-reflection/build/outputs/aar/vbpd-reflection-release.aar
          
